body {
  background-color: #ffe6e6;
}

$mainColor: #2ac9aa;
$colorHead: #4a91a0;

main {
  position: absolute;
  top: 13%;
  right: 38%;
  .title {
    h2 {
      text-align: center;
      text-transform: capitalize;
      color: $colorHead;
      font-size: 30px;
      &::after {
        content: "";
        display: block;
        width: 83px;
        height: 3px;
        background-image: linear-gradient(to right, red, yellow);
        margin: auto;
      }
    }
  }
  .reviews {
    padding: 30px 10px;
    background: floralwhite;
    max-width: 300px;
    border-radius: 10px;
    border: 2px dotted #f00;
    .container-btn {
      display: flex;
      justify-content: space-between;
      button {
        outline: none;
        border: none;
        background: none;
        i {
          font-size: 20px;
          color: $mainColor;
          cursor: pointer;
        }
      }
      .prev-button {
        position: absolute;
        top: 33%;
      }
      .next-button {
        position: absolute;
        top: 33%;
        right: 10px;
      }
    }
    .image {
      display: flex;
      justify-content: center;
      #person-img {
        border-radius: 50%;
        border: 2px dotted #00f;
      }
    }
    .text-body {
      text-align: center;

      h4 {
        font-weight: 600;
        text-transform: capitalize;
        font-size: 20px;
        color: $mainColor;
        font-style: italic;
      }
      #job {
        color: $colorHead;
        text-transform: uppercase;
        font-family: "Gloria Hallelujah", cursive;
        font-weight: bold;
      }
      #info {
        line-height: 1.6;
        font-style: italic;
        font-weight: 500;
        font-family: "Merriweather", serif;
      }
    }
    .random {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      .random-button {
        border-radius: 5px;
        outline: none;
        border: 2px solid $colorHead;
        font-size: 16px;
        color: $mainColor;
        cursor: pointer;
      }
    }
  }
}
